<body>
    <header>
        <div class="logo-container">
            <img src="/assets/images/logo.png" alt="Cosmo Cat Logo" class="logo">
        </div>
        <p>{{ .Description }}</p>
    </header>
</body>
